@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/site.css" />
}

<h1>Results</h1>

<div>
    <p>Country Results:</p>

    <p>Country Name: </p>
    <p>Confirmed Total Cases: </p>
    <p>Confirmed Deaths: </p>
    <p>Confirmed Recovered: </p>
    <p>Last Updated: </p>

    @*@foreach (var result in Model)
        {
            <p>Country Name: @result.countryData.CountryResults.CountryRegion</p>
            <p>Confirmed Total Cases: @result.Confirmed</p>
            <p>Confirmed Deaths: @result.Deaths</p>
            <p>Confirmed Recovered: @result.Recovered</p>
            <p>Last Updated: @Convert.ToDateTime(result.Last_Updated)</p>
        }*@
</div>