@page
@model COVID19WebApp.Pages.Results.ResultsModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/site.css" />
}

<h1>Country Results:</h1>
<br />
<div>
   
    @foreach (var result in Model.countryData.CountryResults)
        {
            <p>Country Name: @result.CountryRegion</p>
            <p>Confirmed Total Cases: @result.Confirmed</p>
            <p>Confirmed Deaths: @result.Deaths</p>
            <p>Confirmed Recovered:* @result.Recovered</p>
            @*<p>Last Updated: @Convert.ToDateTime(result.Last_Updated)</p>*@
            <p>     *Note, not all countries have reported data for Confirmed Recovered. For those who have not, 0 is indicated.</p>
        }
</div>
